html{
	scroll-behavior: smooth;
}

/*Start: Body*/
body {
	margin: 0;
	font-family:'Lato', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color:#fff;
}

/*End: Body*/

/*Start:; Navigation*/
.navbar {
	box-shadow: 0 4px 10px rgba(0,0,0,.1);
	box-shadow: 30px;
}

.nav-item {
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	text-decoration-color: #03131f;

}

.h1-header {
	font-size:45px;
}

.test{
	background-color:#FFE77AFF !important;
}


/*Start: linear gradient shading*/
.gradient {
	background: linear-gradient(120deg,#7f70f5,#0ea0ff);
	color: #fff;
}

.gradient.page-footer {
	border-top: none;
}

.gradient.page-footer a {
	color: #fff;
	opacity: 1;
}

.gradient.page-footer .social-icons a {
	background-color: transparent;
}

.gradient a:hover {
	opacity: .75;
}
/*End: linear gradient shading*/